WANDB_ENTITY=wandb_entity
WANDB_PROJECT=wandb_project
DATASET_ROOT=/path/to/your
DATASET_STANFORD_2D_3D_ROOT=/path/to/your/stanford-2d-3d/no_xyz
DATASET_360_LOC_ROOT=/path/to/your/360-loc
# NOTE: PyTorch does not seem to pick up on the GPU during build, so providing the compute capabilities manually for RTX 3090
TORCH_CUDA_ARCH_LIST=8.6+PTX
PYTORCH_ALLOC_CONF=expandable_segments:True,garbage_collection_threshold:0.9,backend:cudaMallocAsync