[submodule "vendor/vipe"]
	path = vendor/vipe
	url = https://github.com/nv-tlabs/vipe
	branch = panorama
[submodule "vendor/vggt"]
	path = vendor/vggt
	url = https://github.com/facebookresearch/vggt.git
[submodule "vendor/depth-anything-3"]
	path = vendor/depth-anything-3
	url = https://github.com/ByteDance-Seed/Depth-Anything-3.git
[submodule "vendor/otf-nvs"]
	path = vendor/otf-nvs
	url = https://github.com/graphdeco-inria/on-the-fly-nvs.git
[submodule "vendor/vcpkg"]
	path = vendor/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "vendor/lichtfeld-studio"]
	path = vendor/lichtfeld-studio
	url = https://github.com/MrNeRF/LichtFeld-Studio
